:root {
  --green: rgb(39, 189, 39);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  color: white;
}

button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

button.primary {
  background-color: tomato;
  color: white;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
  background-color: black;
}

.about-image {
  margin: 0 auto;
  max-width: 1200px;
  height: 570px; 
  background-image: url("../public/images/guns.jpg");
  background-color: #cccccc; 
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
}

#about-text {
  font-size: 3rem;
  font-weight: 900;
  max-width: 600px;
  text-align: justify;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #f6f5f5;
}

#about-subtext {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.125rem;
  letter-spacing: -.025rem;
  line-height: 25px;
  max-width: 500px;
  text-align: justify;
  position: absolute;
  top: 50%;
  left: 26%;
  transform: translate(-50%, -50%);
  color: #f6f5f5
}

.concert-image {
  margin: 0 auto;
  max-width: 1200px;
  height: 570px; 
  background-image: url("../public/images/concert.jpg");
  background-color: #cccccc; 
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover
}

#concert-text {
  font-size: 3rem;
  font-weight: 900;
  max-width: 600px;
  text-align: justify;
  position: absolute;
  top: 15%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: #f6f5f5
}

#concert-subtext {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.125rem;
  letter-spacing: -.025rem;
  line-height: 25px;
  max-width: 500px;
  text-align: justify;
  position: absolute;
  top: 20%;
  left: 24%;
  transform: translate(-50%, -50%);
  color: #f6f5f5
}

.concert-info {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.125rem;
  letter-spacing: -.025rem;
  line-height: 25px;
  max-width: 500px;
  text-align: justify;
  position: absolute;
  top: 55%;
  left: 18%;
  transform: translate(-50%, -50%);
  color: #f6f5f5
}

p {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.125rem;
  letter-spacing: -.025rem;
  line-height: 25px;
  max-width: 500px;
  color: #f6f5f5;
  margin: 20px 0 20px 0;
}

li h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1666666667;
  max-width: 600px;
  color: #f6f5f5;
}

.link {
  color: rgb(76, 194, 227);
}

.link:hover {
  color: #FFF
}

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 1.5rem ;
  color: white;
  background-image: url("../public/images/background.jpg");
  background-repeat: no-repeat;
  margin: 2rem 2rem 0 2rem;
}

header h4 {
  font-size: 0.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem;
  color: white;
}

.logo {
  font-size: 1.25em;
  padding-left: 0.5rem;
}

main {
  padding: 0 1rem;
}

.new-band-form {
  padding: 1rem 1rem;
  margin: 2rem 1rem 2rem 1rem;
  background-image: linear-gradient(to bottom right, rgb(155, 150, 150), rgb(42, 88, 121));
}

.new-band-form form {
  display: flex;
  justify-content: center;
}

.new-band-form input {
  margin-right: 2rem;
  flex: 1;
}

.new-band-form button {
  width: 150px;
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: white
}

label {
  font-weight: bold;
  display: block;
  font-size: 1.2em;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}
